@import "assets/styles/_color.scss";

.config{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    h3{
        margin-top: 0;
        font-size: large;
        margin-bottom: .4rem;
        font-weight: 300;
    }
    .texts{
        max-width: 40rem;
    }
    
    p{
        color: $light_grey_text;
    }
    
    .checklist{
        margin-top: 1.5rem;
        margin-bottom: 1.7rem;
        display: flex;
        word-wrap: normal;
        flex-wrap: wrap;
        .checkbox{
            width: 125px;
            margin-right: 50px;
        }
    }
}